.display-city-view-container {
  position: fixed;
  bottom: 10vh;
  width: 80vw;
  display: flex;
  align-items: center; /*up and down*/
  justify-content: center; /*l and r */
  img {
    width: 100px;
    height: 100px;
    border: white 2px solid;
    border-radius: 50%;
    transition: 0.2s linear all;
    //& means ancestor, img itself
    &:hover {
      transform: scale(1.2) translateY(-10px);
      border: red 2px solid
    }
  }
}

//install
/*npm i sass*/

//git checkout